
body
{
    background-color: beige;
}

div
{
    font-family: Arial, Helvetica, sans-serif;
}

p.description
{
    font-style: italic;
    font-size: small;
}

h1.banner
{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}