
body
{
    background-color: beige;
}

div
{
    font-family: Arial, Helvetica, sans-serif;
}

p.description
{
    font-style: italic;
    font-size: small;
}

p.bannerText
{
    font-style: italic;
    font-size: small;
    text-align: center;
}

h1
{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

h3
{
    font-style: italic;
    font-weight: normal;
}

div.code
{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-indent: -100px;
}